* {
    primary: #b2c5ff;
    primary-fixed: #dae2ff;
    primary-fixed-dim: #b2c5ff;
    on-primary: #002b73;
    on-primary-fixed: #001848;
    on-primary-fixed-variant: #0040a1;
    primary-container: #0040a1;
    on-primary-container: #dae2ff;
    secondary: #c4c3eb;
    secondary-fixed: #e1dfff;
    secondary-fixed-dim: #c4c3eb;
    on-secondary: #2d2d4d;
    on-secondary-fixed: #181837;
    on-secondary-fixed-variant: #434465;
    secondary-container: #434465;
    on-secondary-container: #e1dfff;
    tertiary: #d0bef6;
    tertiary-fixed: #eaddff;
    tertiary-fixed-dim: #d0bef6;
    on-tertiary: #362856;
    on-tertiary-fixed: #211240;
    on-tertiary-fixed-variant: #4d3f6f;
    tertiary-container: #4d3f6f;
    on-tertiary-container: #eaddff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #10131c;
    on-surface: #e0e2ef;
    on-surface-variant: #c4c6d3;
    outline: #8e909c;
    outline-variant: #444651;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e0e2ef;
    inverse-on-surface: #2d303a;
    inverse-primary: #0056d2;
    surface-dim: #10131c;
    surface-bright: #363943;
    surface-container-lowest: #0b0e17;
    surface-container-low: #181b25;
    surface-container: #1c1f29;
    surface-container-high: #272a34;
    surface-container-highest: #32343f;
}
